.mangePhone-content{
  width: 100%;
  margin-top: 2rem;
  float: 1px;
  .management-album{


    box-sizing: border-box;
    padding: .6rem;
    .management-album-list{
      font-size: .48rem;
      color:#414042;
      position: relative;
      h3{
        position: absolute;
        left:-.4rem;
        top:-.8rem
      }
      .choice-album{
        position: absolute;
        right:1rem;
        top:-.8rem
      }
      ul{
        display: flex;
        flex-wrap:wrap;
        margin-left: .7rem;
        margin-top: 1rem;
        li{
          width: 28%;
          margin-left:.5rem;
          margin-top: .3rem;
          height: 3.2rem;
          position: relative;
          img{
            width: 3.2rem;
            height: 3.2rem;
          }
          .default{
            width:.6rem;
            height:.6rem;
            background: url('../../assets/img/choic.png') no-repeat;
            background-size: 100% 100%;
            display: block;
            position: absolute;
            right:-.2rem;
            top:.1rem;
            pointer-events:none
          }
          .active{
            width:.6rem;
            height:.6rem;

            background: url('../../assets/img/choic.png') no-repeat;
            background-size: 100% 100%;
            display: none;
            position: absolute;
            right:.1rem;
            top:.1rem
          }
        }
      }
    }
  }
}
